:root {
  --color: black;
}

body {
  background-color: var(--color);
  color: var(--color);
}

#root {
  display: flex;
  height: 100vh;
}

#quote-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 30px;
}

#quote-box > * {
  margin-bottom: 10px;
}

#text {
  text-align: center;
  position: relative;
  flex: 100%;
  font-size: 30px;
}

#text::before,
#text::after {
  content: '"';
}

#author {
  flex: 100%;
  text-align: right;
}
#author::before {
  content: "- ";
}

#new-quote,
#tweet-quote {
  color: white;
  background-color: var(--color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  align-self: center;
}

#tweet-quote {
  text-decoration: none;
  background-color: #50abf1;
  align-self: center;
}
